<%= form_for [:admin, @order_item] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @order_item,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :product_name -%>
    <%= f.text_field :product_name, :class => 'larger widest'  -%>
  </div>
  
  <div class='field'>
    <%= f.label :price -%>
    <%= f.text_field :price  -%>
  </div>
  
  <div class='field'>
    <%= f.label :order_id -%>
    <%= f.text_field :order_id  -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.order_items.order_item'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @order_item.product_name)
              } %>
<% end -%>
