<div class="content">

	  <div class='field'>    
	    <h2>Order Number: <%= @order.order_number  -%></h2>
	  </div>
	
	  <div class='customer_details'>
		  <div class='label'>
			  <div class='field'>
			    <b>Order Status:</b>
			  </div>
			  <div class='field'>
			    <b>Payment Type:</b>
			  </div>
		  </div>
		  <div class='text'>
			  <div class='field'>
			    <%= @order.order_status  -%>
			  </div>
			  <div class='field'>
			    <%= @order.payment_type  -%>
			  </div>
		  </div>
	  </div>	

	  <div class="address">
		  <div class='second_label'>
			  <div class='field'>
			    <b>Date:</b>
			  </div>
		  </div>
		  <div class='text'>
			  <div class='field'>
			    <%= @order.created_at.strftime("%d %B %Y") -%>
			  </div>
		  </div>		  	
	  </div>

	  <br><br>
	  <div class='field'>
	  	<h2>Customer Details</h2>
	  </div>

	  <div class="customer_details">
	
		  <div class='label'>
			<div class='field'>	
		    	<b>Name: </b>
			</div>		  
			<div class='field'>
				<b>Surname: </b>
			</div>		  
			<div class='field'>
				<b>Contact No: </b>
			</div>
		  </div>
		  <div class='text'>
			<div class='field'>
				<%= @customer.name  -%>
			</div>
			<div class='field'>
				<%= @customer.surname  -%>
			</div>
			<div class='field'>
				<%= @customer.contact_number  -%>
			</div>
		  </div>
	  </div>
	  
	  <div class="address">
		  <div class='second_label'>
		    <b>Address: </b>
		  </div>
		  <div class='text'>
			<div class='field'>
		    	<%= @order.address_line_1  -%>
			</div>
			<div class='field'>  
		    	<%= @order.address_line_2  -%>
			</div>
			<div class='field'>		  	    
		    	<%= @order.suburb  -%>
			</div>
			<div class='field'>		  
		    	<%= @order.city  -%>
			</div>
			<div class='field'>		  
		    	<%= @order.postal_code  -%>
			</div>
		  </div>
	  </div>
	  <div class="clear"></div>
	  <br><BR>
	  <div class='field'>
	  	<h2>Order Details</h2>
	  </div>
	  <hr />
	  
	
	  <table width="100%">
		  <tr class="<%= cycle("even", "odd") %>"> 
			<th><b>Product Name</b></th>
			<th><b>Price</b></th>
			<th><b>Quantity</b></th>
			<th><b>Total Price</b></th>
		  </tr>
		  <% @order.order_items.each do |order_item| %>
				<tr class="<%= cycle("odd", "even") %>"> 
					<td style="border:1 solid grey;"><%= order_item.product_name  -%></td>
					<td style="border:1 solid grey;"><%= order_item.price.round(2)  -%></td>
					<td style="border:1 solid grey;"><%= order_item.quantity  -%></td>
					<td style="border:1 solid grey;"><%= order_item.total.round(2)  -%></td>
				</tr>
	  	  <% end %>
		  <tr class="<%= cycle("odd", "even") %>">
				<td colspan="3">Grand Total</td>
				<td><%= @order.grand_total.round(2)  -%></td>
		  </tr>
	  </table>

</div>